/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * and Michelle Claire Currier of m. currier designs
 */
@font-face {
  font-family: "Zulia";
  src: url('ZuliaPro.otf');
}
html {
  font-family: 'Nunito', sans-serif;
  background: #1D0F2A;
  color: #B7E4E8;
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
h1 {
  color: #E93F80;
}
h2 {
  color: #F5A841;
}
h3 {
  color: #4BA657;
}
h1, h2, h3, h4{
  font-family: 'Zulia', cursive;
}
nav ul a,
nav .brand-logo {
  color: #E93F80;
}
p {
  line-height: 2rem;
}
img.lazy {
  width: 100%; 
  height: 100%; 
  display: flex;
}
.sidenav-trigger {
  color: #26a69a;
}
.carousel {
  max-height: 800px; /* make all the images the same damn height*/
}
.brand-logo {
  height: 180px;
  background: url('../img/Costumegasm-Logo_Full.png') no-repeat;
  width: 420px;
  background-size: contain;
  margin-top: 3px;
  position: relative;
  z-index: 10;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #725481;
}
/* nav */
.nav-wrapper {
  padding-left: 5px;
}
nav ul a:hover {
  background-color: #F5F0EC;
}
nav ul li a {
  font-size: 1.8rem;
  font-family: 'Zulia', cursive;
}
i.big {
  font-size: 4rem;
}
.thumbnails {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}
hr {
  border: 2px dashed #725481;
}
.page-footer {
  background: #3BBFAB;
  border-top: 2px dashed #1D0F2A;
}
.page-footer li i {
  font-size: 1.6rem;
}
/* forms */
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #E93F80;
}
select, .input-field > label, .select-dropdown, html input, textarea {
  color: #B7E4E8;
}
.select-wrapper .caret {
  fill: #E93F80;
}
ul.dropdown-content.select-dropdown li span {
  color: #3BBFAB;
}
/*colors*/
.text-shadow {
  text-shadow: 0px 0px 4px #1D0F2A;
}
.purp {
  background: #5C57A7;
}
.purp-text {
  color: #5C57A7;
}
.bluu {
  background: #169ED6;
}
.bluu-text {
  color: #169ED6;
}
.pynk {
  background: #E93F80;
}
.pynk-text {
  color: #E93F80;
}
.gree {
  background: #3BBFAB;
}
.gree-text {
  color: #3BBFAB;
}
.gold {
  background: #F5A841;
}
.gold-text {
  color: #F5A841;
}
.dark {
  background: #1D0F2A;
}
.dark-text {
  color: #1D0F2A;
}
img.responsive-img {
  border-radius: 3px;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 34%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 94px;
    line-height: 94px;
  }
  .container {
    width: 95%;
  }
}
@media only screen and (max-width : 600px) {
  
}
@media only screen and (max-width: 992px){
  nav .brand-logo {
    width: 200px;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
