/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * and Michelle Claire Currier of m. currier designs
 */
@font-face {
  font-family: "Copperplate";
  src: url('OPTICopperplate.otf');
}
html {
  font-family: 'Work Sans', sans-serif;
  background: #EEE9E2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h1, h2, h3, h4{
  font-family: 'Copperplate', serif;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  text-shadow: 0px 0px 4px #000000;
}
.parallax-container .section {
  width: 100%;
}
.parallax-container h3 {
  background: rgba(255, 255, 255, 0.65);
  padding: 10px 10px 15px 10px;
  text-shadow: none;
  color: #7d7b4b !important;
}
.parallax-container .btn-large {
  text-shadow: none;
}
.brand-logo {
  background: url('../vsp-logo.jpg') no-repeat;
  width: 136px;
  height: 60px;
  margin-top: 2px;
  background-size: contain;
}
.logo {
  background: url('../costumegasmcard.jpg') no-repeat;
  width: 136px;
  height: 67px !important;
  background-size: contain;
}
.olive {
  background-color: #7d7b4b;
}
.olive-text, nav ul a:hover, .page-footer ul li a:hover {
  color: #7d7b4b !important;
}
.wine {
  background-color: #502d63;
}
.wine-text {
  color: #502d63 !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #725481;
}
nav ul a:hover {
  background-color: #F5F0EC;
}
i.big {
  font-size: 4rem;
}
.thumbnails {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 34%;
  }
  #index-banner .section {
    top: 10%;
  }
  .brand-logo {
    height: 52px;
    margin-top: 1px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
