/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * and Michelle Claire Currier of m. currier designs
 */
@font-face {
  font-family: "Zulia";
  src: url('ZuliaPro.otf');
}
html {
  font-family: 'Nunito', sans-serif;
  background: #1D0F2A;
  color: #B7E4E8;
}
h1 {
  font-size: 3rem;
  color: #E93F80;
}
h2 {
  font-size: 2.8rem;
  color: #F5A841;
}
h3 {
  font-size: 2.4rem;
  color: #4BA657;
}
h1, h2, h3, h4{
  font-family: 'Zulia', cursive;
}
nav ul a,
nav .brand-logo {
  color: #E93F80;
}
p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  text-shadow: 0px 0px 4px #000000;
}
.parallax-container .section {
  width: 100%;
}
.parallax-container h3 {
  background: rgba(255, 255, 255, 0.65);
  padding: 10px 10px 15px 10px;
  text-shadow: none;
  color: #7d7b4b !important;
}
.parallax-container .btn-large {
  text-shadow: none;
}
.brand-logo {
  height: 180px;
  background: url('../img/Costumegasm-Logo_Full.png') no-repeat;
  width: 420px;
  background-size: contain;
  margin-top: 3px;
  position: relative;
  z-index: 10;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #725481;
}
/* nav */
nav ul a:hover {
  background-color: #F5F0EC;
}
nav ul li a {
  font-size: 1.8rem;
  font-family: 'Zulia', cursive;
}
i.big {
  font-size: 4rem;
}
.thumbnails {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}
hr {
  border: 2px dashed #725481;
}
.page-footer {
  background: #3BBFAB;
  border-top: 2px dashed #1D0F2A;
}
/* forms */
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #E93F80;
}
select, .input-field > label, .select-dropdown {
  color: #B7E4E8;
}
.select-wrapper .caret {
  fill: #E93F80;
}
ul.dropdown-content.select-dropdown li span {
  color: #3BBFAB;
}
/*colors*/
.purp {
  background: #5C57A7;
}
.purp-text {
  color: #5C57A7;
}
.bluu {
  background: #169ED6;
}
.bluu-text {
  color: #169ED6;
}
.pynk {
  background: #E93F80;
}
.pynk-text {
  color: #E93F80;
}
.gree {
  background: #3BBFAB;
}
.gree-text {
  color: #3BBFAB;
}
.gold {
  background: #F5A841;
}
.gold-text {
  color: #F5A841;
}
.dark {
  background: #1D0F2A;
}
.dark-text {
  color: #1D0F2A;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 34%;
  }
  #index-banner .section {
    top: 10%;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 94px;
    line-height: 94px;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
